$link-color: #272727;
$title-color: #313131;
$about-color: #616161;
$red-color:#FC5F45;
$green-color: #38C695;
$violet-color: #B27CF5;
$yellow-color: #FEB960;
$bc-color:#F7F7F7;
$overlay-color:#262732;
$step-number-color:#E0E0E0;
$border-color:rgb(250, 250, 250);
$box-shadow:rgba(0,0,0,0.22);