@media only screen and (max-width: 480px) {
  .title {
    width: 100vh;
    height: 900px;
  }
  .figure {
    padding-top: 20px;
    text-align: center;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-link {
    float: right;
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: none;
  }
  .menu-btn {
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 20px;
    cursor: pointer;
  }
  #logo-header {
    display: inline-block;
  }
  .item-img {
    padding-top: 20px;
    padding-left: 45%;
  }
  .about-us-article {
    margin-top: 20px;
    left: 40%;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #fafafa;
    width: 600px;
    height: 400px;
  }
  #our-focus {
    background-color: #F7F7F7;
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "our-focus-title" "about" "web-design" "ux-design" "photo-item" "app-item";
  }
  .video-title {
    position: absolute;
    padding-top: 100px;
    padding-left: 20%;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .btn-title {
    position: absolute;
    padding-top: 300px;
    padding-left: 20%;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .play-btn {
    position: absolute;
    padding-top: 200px;
    padding-left: 50%;
    font-size: 50px;
    color: #38C695;
    cursor: pointer;
  }
  .about-member-1 {
    display: block;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .about-member-2, .about-member-3, .about-member-4 {
    display: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .networks {
    padding-top: 50px;
    padding-left: 50%;
  }
  .fab {
    padding-right: 0.5rem;
    padding-top: 1rem;
    margin: 0.7rem;
  }
  .font-icon {
    font-size: 15px;
    padding-top: 50px;
    padding-left: 70px;
  }
  #member-1, #member-2, #member-3, #member-4 {
    margin-top: 0.8rem;
  }
  #step-1 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    border-bottom: 3px solid #FC5F45;
  }
  #step-2 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    border-bottom: 3px solid #38C695;
  }
  #step-3 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    border-bottom: 3px solid #B27CF5;
  }
  #step-4 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    border-bottom: 3px solid #FEB960;
  }
  #work-steps {
    position: relative;
  }
  #package-2, #package-3 {
    margin-top: 15px;
  }
  .select-us-grid {
    margin: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "select-item-1" "select-item-2"  "select-item-3" "select-item-4"  "select-item-5"  "select-item-6";
  }
  .start-btn-title {
    margin-bottom: 20px;
  }
  .slide-content {
    background-color: #fff;
    padding: 40px;
    padding-left: 100px;
    margin-bottom: 30px;
    margin-top: 50px;
    border-bottom: 3px solid #FC5F45;
  }
  .user-img {
    border: 3px solid #616161;
  }
  .dots {
    margin-left: 30%;
  }
  .articles {
    display: block;
    margin-top: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input {
    text-align: center;
    font-size: 14px;
    border: #fff;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 360px;
    height: 50px;
  }
  .footer-contacts {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    margin-top: 10px;
        grid-template-areas: "footer-logo"  "address-1"  "address-2"  "links";
  }
}

@media only screen and (min-width: 481px) and (max-width: 828px) {
  .title {
    height: 755px;
    width: 100vh;
  }
  .figure {
    padding-top: 20px;
    text-align: center;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-link {
    float: right;
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: none;
  }
  .menu-btn {
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 20px;
    cursor: pointer;
  }
  #logo-header {
    display: inline-block;
  }
  #about-us-img {
    margin-left: 100px;
    opacity: 0.8;
  }
  .about-us-article {
    margin-top: 40px;
    left: 35%;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #fafafa;
    width: 600px;
    height: 400px;
  }
  #our-focus {
    background-color: #F7F7F7;
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "our-focus-title our-focus-title " "about about" "web-design ux-design" "photo-item app-item";
  }
  .video-title {
    position: absolute;
    padding-top: 100px;
    padding-left: 30%;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .btn-title {
    position: absolute;
    padding-top: 300px;
    padding-left: 30%;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .play-btn {
    position: absolute;
    padding-top: 200px;
    padding-left: 45%;
    font-size: 50px;
    color: #38C695;
    cursor: pointer;
  }
  .item-img {
    padding-top: 20px;
    padding-left: 45%;
  }
  .about-member-1 {
    display: inline;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .about-member-2, .about-member-3, .about-member-4 {
    display: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .networks {
    padding-top: 50px;
    padding-left: 50%;
  }
  .fab {
    font-size: 20px;
    padding-right: 0.72rem;
    padding-top: 1rem;
    margin: 0.75rem;
  }
  .font-icon {
    padding-top: 50px;
    padding-left: 100px;
  }
  #step-1 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #FC5F45;
    top: 250px;
    margin-left: 4%;
  }
  #step-2 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #38C695;
    top: 530px;
    margin-left: 60%;
  }
  #step-3 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #B27CF5;
    top: 860px;
    margin-left: 4%;
  }
  #step-4 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #FEB960;
    top: 1170px;
    margin-left: 60%;
  }
  #work-steps {
    position: relative;
  }
  #package-2, #package-3 {
    margin-top: 15px;
  }
  .select-us-grid {
    margin: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "select-item-1" "select-item-2"  "select-item-3" "select-item-4"  "select-item-5"  "select-item-6";
  }
  .start-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 15%;
  }
  .slide-content {
    background-color: #fff;
    padding: 40px;
    padding-left: 100px;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 3px solid #FC5F45;
  }
  .user-img {
    margin-left: 25%;
    border: 3px solid #616161;
  }
  .dots {
    margin-left: 40%;
  }
  .articles {
    display: block;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input {
    text-align: center;
    font-size: 14px;
    border: #fff;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 40px;
  }
  .footer-contacts {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
        grid-template-areas: "footer-logo address-1 address-2 links";
  }
}

@media only screen and (min-width: 829px) and (max-width: 1279px) {
  .title {
    width: 100vh;
    height: 755px;
  }
  .figure {
    display: inline-block;
    margin-left: 35px;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    list-style-type: none;
    padding-top: 15px;
  }
  #logo-header {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
  }
  .menu-btn {
    display: none;
  }
  #about-us-img {
    margin-left: 200px;
    opacity: 0.8;
  }
  .about-us-article {
    position: absolute;
    top: 270px;
    left: 45%;
    margin-top: 20px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #fafafa;
    width: 550px;
    height: 400px;
  }
  #our-focus {
    background-color: #F7F7F7;
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "our-focus-title our-focus-title our-focus-title our-focus-title" "about about about about" "web-design ux-design photo-item app-item";
  }
  .video-title {
    position: absolute;
    padding-top: 100px;
    padding-left: 40%;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .btn-title {
    position: absolute;
    padding-top: 300px;
    padding-left: 40%;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .play-btn {
    position: absolute;
    padding-top: 200px;
    padding-left: 40%;
    font-size: 50px;
    color: #38C695;
    cursor: pointer;
  }
  .item-img {
    padding-top: 30px;
    padding-left: 40%;
  }
  .about-member-1 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .about-member-2, .about-member-3, .about-member-4 {
    display: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .networks {
    padding: 100px;
    padding-top: 160px;
  }
  .fab {
    font-size: 20px;
    padding-right: 10px;
    padding-top: 15px;
    margin-right: 50px;
  }
  .font-icon {
    padding-top: 100px;
  }
  #step-1 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #FC5F45;
    top: 250px;
    margin-left: 7%;
  }
  #step-2 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #38C695;
    top: 500px;
    margin-left: 60%;
  }
  #step-3 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #B27CF5;
    top: 850px;
    margin-left: 7%;
  }
  #step-4 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #FEB960;
    top: 1150px;
    margin-left: 60%;
  }
  #work-steps {
    width: 100vh;
    position: relative;
  }
  #package-3 {
    margin-top: 15px;
  }
  .select-us-grid {
    margin: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "select-item-1 select-item-2"  "select-item-3 select-item-4"  "select-item-5 select-item-6";
  }
  .start-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 25%;
  }
  .slide-content {
    position: relative;
    background-color: #fff;
    padding: 30px;
    padding-left: 80px;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 10%;
    border-bottom: 3px solid #FC5F45;
  }
  .user-img {
    position: absolute;
    border: 3px solid #616161;
    margin-left: 5%;
    z-index: 1;
  }
  .dots {
    margin-left: 65%;
  }
  .articles {
    display: block;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input {
    text-align: center;
    font-size: 14px;
    border: #fff;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    margin: 20px;
    width: 360px;
    height: 50px;
  }
  .input {
    margin-top: 50px;
    margin-left: 20%;
  }
  .footer-contacts {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "footer-logo address-1 address-2 links";
    background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #FC5F45), color-stop(25%, #38C695), color-stop(50%, #38C695), color-stop(50%, #B27CF5), color-stop(75%, #B27CF5), color-stop(75%, #FEB960));
    background-image: linear-gradient(to right, #FC5F45 25%, #38C695 25%, #38C695 50%, #B27CF5 50%, #B27CF5 75%, #FEB960 75%);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    max-width: 1600px;
  }
  .title {
    height: 750px;
  }
  .figure {
    display: inline-block;
    margin-left: 80px;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    list-style-type: none;
    padding-top: 15px;
  }
  #logo-header {
    display: inline-block;
    padding-left: 200px;
    padding-right: 250px;
  }
  .menu-btn {
    display: none;
  }
  #about-us-img {
    margin-left: 200px;
    opacity: 0.8;
  }
  .about-us-article {
    position: absolute;
    top: 270px;
    left: 45%;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #fafafa;
    width: 600px;
    height: 400px;
  }
  #our-focus {
    background-color: #F7F7F7;
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "our-focus-title our-focus-title our-focus-title our-focus-title" "about about about about" "web-design ux-design photo-item app-item";
  }
  .video-title {
    position: absolute;
    padding-top: 100px;
    padding-left: 43%;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  .btn-title {
    position: absolute;
    padding-top: 300px;
    padding-left: 46%;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .play-btn {
    position: absolute;
    padding-top: 200px;
    padding-left: 50%;
    font-size: 50px;
    color: #38C695;
    cursor: pointer;
  }
  .item-img {
    padding-top: 30px;
    padding-left: 40%;
  }
  .about-member-1 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .about-member-2, .about-member-3, .about-member-4 {
    display: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
            box-shadow: 0 0 2px 2px rgba(202, 201, 201, 0.22);
    background-color: #fff;
    padding-bottom: 40px;
    margin: 50px;
    position: relative;
  }
  .about-member-1::before {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 10%;
  }
  .about-member-1::after {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 10%;
  }
  .about-member-2::before {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 30%;
  }
  .about-member-2::after {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 30%;
  }
  .about-member-3::before {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 60%;
  }
  .about-member-3::after {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 60%;
  }
  .about-member-4::before {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 90%;
  }
  .about-member-4::after {
    content: '';
    border: 30px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 100%;
    left: 90%;
  }
  .networks {
    padding: 100px;
    padding-top: 160px;
  }
  .fab {
    font-size: 20px;
    padding-right: 10px;
    padding-top: 15px;
    margin-right: 50px;
  }
  .font-icon {
    padding-top: 100px;
  }
  #step-1 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #FC5F45;
    top: 250px;
    margin-left: 15%;
  }
  #step-2 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #38C695;
    top: 500px;
    margin-left: 60%;
  }
  #step-3 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #B27CF5;
    top: 850px;
    margin-left: 15%;
  }
  #step-4 {
    padding: 30px;
    border: 0.5px solid #fafafa;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    width: 400px;
    height: 270px;
    position: absolute;
    border-bottom: 3px solid #FEB960;
    top: 1150px;
    margin-left: 60%;
  }
  #work-steps {
    position: relative;
  }
  .select-us-grid {
    margin: 100px;
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "select-item-1 select-item-2 select-item-3" "select-item-4 select-item-5 select-item-6";
  }
  .start-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 30%;
  }
  .slide-content {
    position: relative;
    background-color: #fff;
    padding: 40px;
    padding-left: 100px;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 10%;
    border-bottom: 3px solid #FC5F45;
  }
  .user-img {
    position: absolute;
    border: 3px solid #616161;
    margin-left: 18%;
    z-index: 1;
  }
  .dots {
    margin-left: 70%;
  }
  .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
    max-height: 800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  input {
    text-align: center;
    font-size: 14px;
    border: #fff;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    margin: 20px;
    width: 360px;
    height: 50px;
  }
  .input {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 20%;
  }
  .footer-contacts {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "footer-logo address-1 address-2 links";
    background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #FC5F45), color-stop(25%, #38C695), color-stop(50%, #38C695), color-stop(50%, #B27CF5), color-stop(75%, #B27CF5), color-stop(75%, #FEB960));
    background-image: linear-gradient(to right, #FC5F45 25%, #38C695 25%, #38C695 50%, #B27CF5 50%, #B27CF5 75%, #FEB960 75%);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-family: "Libre Baskerville";
}

.nav-bar {
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  min-height: 50px;
  z-index: 100;
}

.nav-link {
  font-weight: 600;
  margin-right: 12px;
  color: #272727;
  font-size: 14px;
  text-decoration: none;
}

#logo-header {
  font-family: "Sacramento";
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  color: #272727;
}

#logo-header::first-letter {
  color: #FC5F45;
}

.title {
  background: url(../img/section-bc.png) no-repeat center/cover;
  background-blend-mode: multiply;
  background-color: #262732;
  opacity: 0.8;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "header-title" "section-btn" "features";
}

h1 {
  padding-top: 200px;
  padding-bottom: 70px;
  text-align: center;
  color: #fff;
  font-size: 46px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-title;
  -ms-grid-row: 1;
  grid-row: 1fr;
  -ms-grid-column: 1;
  grid-column: 1fr;
  white-space: pre-line;
}

.section-btn {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  background-color: #FC5F45;
  color: #fff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section-btn;
  -ms-grid-row: 1;
  grid-row: 1fr;
  -ms-grid-column: 1;
  grid-column: 1fr;
  margin: 0 auto;
}

.section-btn:active, .section-btn:focus {
  outline: none !important;
}

.features {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: features;
  -ms-grid-row: 1;
  grid-row: 1fr;
  -ms-grid-column: 1;
  grid-column: 1fr;
}

.figure > span {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.project-title {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.figure-1 {
  color: #38C695;
}

.figure-2 {
  color: #B27CF5;
}

.figure-3 {
  color: #FEB960;
}

@-webkit-keyframes jump {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes jump {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.figure-1:hover, .figure-2:hover, .figure-3:hover {
  -webkit-animation: jump 1s;
          animation: jump 1s;
}

#about-us {
  position: relative;
  padding-top: 100px;
}

.about-us-title {
  color: #313131;
  text-align: left;
  padding-top: 50px;
  padding-left: 20px;
  font-size: 32px;
}

.about-us-text {
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  color: #616161;
}

.our-focus-title {
  color: #313131;
  font-size: 34px;
  text-align: center;
  grid-area: our-focus-title;
  padding-top: 100px;
}

.our-focus-about {
  color: #616161;
  font-size: 18px;
  text-align: center;
  grid-area: about;
  padding-top: 50px;
  margin-bottom: 50px;
}

.web-design-item {
  grid-area: web-design;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
  border-bottom: 3px solid #FC5F45;
}

.ux-design-item {
  grid-area: ux-design;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
  border-bottom: 3px solid #38C695;
}

.photo-item {
  grid-area: photo-item;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
  border-bottom: 3px solid #B27CF5;
}

.app-develop-item {
  grid-area: app-item;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.22);
  border-bottom: 3px solid #FEB960;
}

.item-title {
  color: #313131;
  font-size: 20px;
  text-align: center;
  padding-top: 40px;
}

.item-text {
  text-align: center;
  padding: 40px;
  line-height: 1.7rem;
  font-size: 15px;
  color: #616161;
}

.video-item {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}

.video-item::before {
  content: '';
  position: absolute;
  height: 400px;
  width: 100%;
  background: #262732;
  opacity: 0.7;
}

.section-title {
  color: #313131;
  font-size: 34px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

.section-about {
  color: #616161;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

.project-link {
  margin-right: 12px;
  color: #272727;
  font-size: 14px;
  text-decoration: none;
}

.grid-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project {
  margin-right: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.project-title {
  text-align: center;
  padding-bottom: 10px;
  display: none;
}

.project-link-btn {
  position: absolute;
  top: 30%;
  left: 40%;
  text-align: center;
  color: #fff;
  font-size: 48px;
  width: 70px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.project-link-btn:active, .project-link-btn:focus {
  outline: none !important;
}

.team-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#member-name-1 {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #FC5F45;
}

#member-name-2 {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #38C695;
}

#member-name-3 {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #B27CF5;
}

#member-name-4 {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #FEB960;
}

.job-title {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  color: #616161;
}

#our-team {
  margin-top: 100px;
  background-color: #F7F7F7;
}

#member-1 {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-bottom: 3px solid #FC5F45;
}

#member-2 {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-bottom: 3px solid #38C695;
}

#member-3 {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-bottom: 3px solid #B27CF5;
}

#member-4 {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-bottom: 3px solid #FEB960;
}

.about-member-title {
  color: #313131;
  font-size: 24px;
  text-align: left;
  padding: 50px;
}

.member-description {
  color: #616161;
  font-size: 16px;
  line-height: 2rem;
  text-align: left;
  padding-left: 40px;
}

.media-link {
  color: #272727;
  font-size: 14px;
  text-decoration: none;
}

.media-link:hover {
  text-shadow: 0 0 5px #B27CF5;
}

.counter {
  background: url(../img/bc-image.png) no-repeat top/cover;
  background-blend-mode: multiply;
  background-color: #262732;
  opacity: 0.8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-counter > span, .item-counter > img {
  text-align: center;
  margin-top: 20px;
  display: block;
  font-size: 16px;
  color: #fff;
}

#work-step-img {
  margin-top: 100px;
}

.step-img {
  display: block;
  opacity: 0.8;
}

.step-number {
  color: #E0E0E0;
  text-align: left;
  font-size: 40px;
}

.step-title {
  color: #272727;
  text-align: center;
  font-size: 20px;
}

.about-step {
  color: #616161;
  text-align: left;
  font-size: 16px;
  line-height: 1.5rem;
  padding-top: 10px;
  padding-left: 50px;
}

#price {
  margin-top: 100px;
  padding-bottom: 30px;
  background-color: #F7F7F7;
}

.packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px;
  padding-bottom: 50px;
}

#package-1 {
  padding: 70px;
  padding-top: 20px;
  display: block;
  border: 0.5px solid #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  border-top: 3px solid #38C695;
}

#package-2 {
  padding: 70px;
  padding-top: 20px;
  display: block;
  border: 0.5px solid #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  border-top: 3px solid #FC5F45;
}

#package-3 {
  padding: 70px;
  padding-top: 20px;
  display: block;
  border: 0.5px solid #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  border-top: 3px solid #B27CF5;
}

.package-name {
  text-align: center;
  color: #313131;
  font-size: 20px;
  padding-bottom: 20px;
}

.package-point {
  display: block;
  text-align: center;
  padding-top: 20px;
}

#price-1 {
  white-space: pre-line;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 1.7rem;
  border-radius: 50%;
  padding: 50px;
  background: url(../img/circle-green.png) no-repeat center/cover;
}

#wrap-price-1 {
  padding: 3px;
  border-radius: 50%;
  border: 2px solid #38C695;
}

#price-2 {
  white-space: pre-line;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 1.7rem;
  border-radius: 50%;
  padding: 50px;
  background: url(../img/circle-red.png) no-repeat center/cover;
}

#wrap-price-2 {
  padding: 3px;
  border-radius: 50%;
  border: 2px solid #FC5F45;
}

#price-3 {
  white-space: pre-line;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 1.7rem;
  border-radius: 50%;
  padding: 50px;
  background: url(../img/circle-violet.png) no-repeat center/cover;
}

#wrap-price-3 {
  padding: 3px;
  border-radius: 50%;
  border: 2px solid #B27CF5;
}

#price-btn-1 {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
  border-color: #38C695;
  color: #38C695;
}

#price-btn-2 {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
  border-color: #FC5F45;
  color: #FC5F45;
}

#price-btn-3 {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
  border-color: #B27CF5;
  color: #B27CF5;
}

#price-btn-1:active, #price-btn-1:focus,
#price-btn-2:active, #price-btn-2:focus,
#price-btn-3:active, #price-btn-3:focus {
  outline: none !important;
}

#price-btn-1:hover {
  background-color: #38C695;
  color: #fff;
}

#price-btn-2:hover {
  background-color: #FC5F45;
  color: #fff;
}

#price-btn-3:hover {
  background-color: #B27CF5;
  color: #fff;
}

#testimonials {
  background-color: #262732;
  padding-bottom: 100px;
}

.slider-title {
  color: #fff;
  text-align: center;
  font-size: 34px;
  padding-top: 100px;
  margin-bottom: 50px;
}

.slider-about {
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.slide-text {
  color: #616161;
  text-align: left;
  font-size: 15px;
  line-height: 1.7rem;
}

.user-name {
  font-family: "Sacramento";
  font-size: 32px;
  color: #616161;
  text-align: left;
  margin-top: 40px;
}

.user-full-name {
  margin-top: 15px;
  font-size: 18px;
  color: #272727;
  text-align: left;
}

.user-job {
  margin-top: 10px;
  font-size: 13px;
  color: #FC5F45;
  text-align: left;
}

.dot-item {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  margin-right: 10px;
}

.dot-item:hover {
  color: #FC5F45;
}

.slide-2, .slide-3, .slide-4, .slide-5, .slide-6 {
  display: none;
}

.select-item-1 {
  grid-area: select-item-1;
}

.select-item-2 {
  grid-area: select-item-2;
}

.select-item-3 {
  grid-area: select-item-3;
}

.select-item-4 {
  grid-area: select-item-4;
}

.select-item-5 {
  grid-area: select-item-5;
}

.select-item-6 {
  grid-area: select-item-6;
}

.select-title {
  display: inline-block;
  white-space: pre-line;
  vertical-align: middle;
  margin: 15px;
  font-size: 18px;
  color: #272727;
}

.select-img {
  vertical-align: middle;
}

.select-description {
  color: #616161;
  font-size: 15px;
}

.start-btn-title {
  color: #272727;
  font-size: 22px;
  letter-spacing: 0.1em;
}

.select-btn {
  vertical-align: middle;
  margin-left: 50px;
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  background-color: #FC5F45;
  color: #fff;
}

.select-btn:active, .select-btn:focus {
  outline: none !important;
}

#blog-part {
  margin-top: 100px;
  background-color: #F7F7F7;
}

.article-content {
  padding: 20px;
}

.article-1 {
  margin: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  max-width: 555px;
  cursor: pointer;
  border-bottom: 3px solid #FC5F45;
}

.article-2 {
  margin: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  max-width: 555px;
  cursor: pointer;
  border-bottom: 3px solid #38C695;
}

.article-3 {
  margin: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  max-width: 555px;
  cursor: pointer;
  border-bottom: 3px solid #B27CF5;
}

.article-4 {
  margin: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  max-width: 555px;
  cursor: pointer;
  border-bottom: 3px solid #FEB960;
}

.article-img-2, .article-img-3, .article-img-4 {
  display: none;
}

.article-autor-1 {
  color: #FC5F45;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.article-autor-2 {
  color: #38C695;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.article-autor-3 {
  color: #B27CF5;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.article-autor-4 {
  color: #FEB960;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.article-date {
  color: #616161;
  font-size: 13px;
}

.article-link-1 {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: black;
}

.article-link-2 {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #38C695;
}

.article-link-3 {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #B27CF5;
}

.article-link-4 {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #FEB960;
}

.article-title {
  padding-top: 15px;
  color: #272727;
  font-size: 20px;
  line-height: 2rem;
}

.article-text {
  padding-top: 15px;
  color: #616161;
  font-size: 15px;
  line-height: 1.5rem;
}

.subscribe {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.subscribe-title {
  text-align: center;
  color: #272727;
  font-size: 22px;
  letter-spacing: 0.1em;
}

.blog-form {
  padding-top: 50px;
  display: table;
}

.blog-input {
  display: inline;
  text-align: left;
  padding-left: 20px;
  margin-right: 0;
  font-size: 14px;
  border: #F7F7F7;
  border-radius: 20px 0 0 20px;
  background-color: #F7F7F7;
}

.blog-btn {
  display: inline;
  width: 180px;
  height: 50px;
  border-radius: 0 20px 20px 0;
  font-weight: 600;
  color: #fff;
  border-color: #FC5F45;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #FC5F45;
  margin-left: 0;
  cursor: pointer;
}

.blog-btn:active, .blog-btn:focus, .blog-input:active, .blog-input:focus {
  outline: none !important;
}

#contacts {
  padding-bottom: 20px;
  background-color: #F7F7F7;
}

.contacts-form {
  margin-top: 50px;
}

#message {
  text-align: center;
  font-size: 14px;
  border: #fff;
  border-radius: 5px;
  background-color: #fff;
  resize: none;
  display: block;
  margin-top: 50px;
  margin-bottom: 40px;
  padding-top: 10px;
  width: 700px;
  height: 200px;
  margin: 0 auto;
}

input:focus::-webkit-input-placeholder, #message:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, #message:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder, #message:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder, #message:focus::placeholder {
  color: transparent;
}

.form-btn {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  background-color: #FC5F45;
  color: #fff;
  margin-top: 50px;
}

.footer-contacts {
  padding: 40px;
  background-color: #262732;
  margin-top: 150px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.footer-logo {
  grid-area: footer-logo;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}

#logo {
  font-family: "Sacramento";
  text-decoration: none;
  font-size: 50px;
  color: #fff;
}

#logo::first-letter {
  color: #FC5F45;
}

.footer-address-1 {
  grid-area: address-1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-address-2 {
  grid-area: address-2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-links {
  grid-area: links;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-addres-1 {
  color: #38C695;
  margin-bottom: 20px;
  font-size: 15px;
}

.title-addres-2 {
  color: #B27CF5;
  margin-bottom: 20px;
  font-size: 15px;
}

.folow-us {
  color: #FEB960;
  margin-bottom: 20px;
  font-size: 15px;
}

.address-text {
  color: #616161;
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 700;
}

.link {
  display: inline;
  color: #616161;
  font-size: 30px;
  margin-right: 5px;
}

.contact-link {
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: #FC5F45;
}
/*# sourceMappingURL=style.css.map */